.section {
  border-radius: 16px;
}

.sectionTitle {
  margin: 0 !important;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 16px 0;
  background: linear-gradient(180deg, rgb(245 245 245 / 0%), #f5f5f5 35%);
}
